<div class="sidebar">
  <div class="sidebar-content">
    <!-- Botón nueva nota -->
    <div class="new-note-container">
      <button class="new-note" (click)="crearNota()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
        New Note
      </button>
    </div>

    <!-- Sección Notas -->
    <div class="section">
      <div class="section-header">
        <span>Notas</span>
        <a href="#" (click)="toggleMostrarNotas($event)">{{ mostrarTodasLasNotas ? 'Ver menos' : 'Ver todo' }}</a>
      </div>
      @if (loading) {
        <div class="spinner">
          Cargando...
        </div>
      } @else {
        <ul class="nav-list">

       @for (nota of notasFiltradas; track nota.id) {

      <li (click)="seleccionarNota(nota)" [ngClass]="{'untitled': !nota.titulo || nota.titulo.trim() === ''}">
      {{ nota.titulo && nota.titulo.trim() !== '' ? nota.titulo : 'Sin título' }}

      <svg
        class="cloud-icon"
        xmlns="http://www.w3.org/2000/svg"
        width="14"
        height="14"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2">
        <path d="M17.5 19H9a7 7 0 1 1 6.71-9h1.79a4.5 4.5 0 1 1 0 9Z"></path>
      </svg>
    </li>

  }

      </ul>
      }
    </div>

    <!-- Otras opciones -->
    <div class="section">
      <div class="section-title">Otras opciones</div>
      <ul class="nav-list">
        <li (click)="exportarPDF()">
          <img src="pdf.png" alt="PDF" width="16" height="16" />
          Convertidor a PDF
        </li>
        <li (click)="abrirPapelera()">
          <img src="papelera.png" alt="Papelera" width="16" height="16" />
          Papelera
        </li>
      </ul>
    </div>
</div>